/* Variables */

:root {
  /* Font */
  --font_roboto: "Roboto", sans-serif;
  --font_size_small: 12px;
  --font_size_md: 14px;
  --font_size_lg: 15px;
  --font_size_h4: 1rem;
  /* Color */
  --dark: rgba(8, 11, 18, 1);
  --fourth: rgba(20, 25, 34, 1);
  --primary: rgba(110, 110, 110, 1);
  --third: rgba(173, 255, 47, 1);
  --secondary: rgba(210, 210, 210, 1);
  --light: rgba(255, 255, 255, 1);
  --color_footer: rgba(40, 40, 40, 1);
}

/* #region Common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark);
  color: var(--light);
  font-family: var(--font_roboto);
}

a {
  text-decoration: none;
}

h4 {
  font-size: var(--font_size_h4);
}

.light {
  color: var(--light);
}

.primary {
  color: var(--primary);
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: var(--primary); 
}
  */
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--light);
}

/* #endregion Common */

/* #region Utility */

/* Spaces */

.flex {
  display: flex;
}

.mt_mezzo {
  margin: 0.5rem;
}

.mt_1 {
  margin-top: 1rem;
}

.mt_3 {
  margin-top: 3rem;
}

.mb_1 {
  margin-bottom: 1rem;
}

.mb_2 {
  margin-bottom: 2rem;
}

/* GRID */

.container_lg {
  width: 100%;
  margin: 0 auto;
}

/* Button */

.btn {
  padding: 0.7rem 2.5rem;
  text-decoration: none;
  border: 1px solid var(--light);
  border-radius: 1.5rem;
}

.font_s_sm{
  font-size: var(--font_size_small);
}

.font_s_md{
  font-size: var(--font_size_md);
}

.col_30{
  width: 30%;
}

.col_20{
  width: 20%;
}

.col_10{
  width: 10%;
}

.clearfix{
  display: table;
  content: "";
  clear: both;
}
[class^="col_"] {
  float: left;
}

/*  #endregion Utility */

/* #region Main*/

#site_main {
  height: calc(100vh - 80px);
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

#site_main .sidebar,
#site_main .content_music {
  height: 100%;
}
/* #region Sidebar */

.sidebar {
  position: relative;
  width: 320px;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar a {
  display: flex;
  margin-bottom: 0.5rem;
}

.logo_int_page {
  align-items: center;
  padding-bottom: 2rem;
}

.logo_int_page span {
  font-size: 25px;
  padding-left: 0.5rem;
}

.logo_int_page img {
  width: 40px;
}

.display_visible {
  align-items: center;
  visibility: hidden;
  position: absolute;
}

.display_visible span {
  font-size: 25px;
  padding-left: 0.5rem;
}

.display_visible img {
  width: 40px;
}

.sidebar a:hover img {
  filter: none;
}

.sidebar a:hover span {
  color: var(--light);
}

.sidebar a:hover .square_add {
  background-color: var(--light);
}

.sidebar li {
  list-style: none;
}

.sidebar ul span {
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  font-size: var(--font_size_small);
  font-weight: 700;
}

.sidebar ul img {
  width: 25px;
}

.sidebar .primary img {
  filter: brightness(0.5);
}

.sidebar h5 {
  font-size: var(--font_size_md);
  font-weight: 500;
  text-transform: uppercase;
}

.sidebar .square {
  height: 25px;
  display: flex;
  align-items: center;
  margin: 0.7rem 0;
}

.sidebar .square_add {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  color: var(--dark);
  background-color: var(--primary);
  font-weight: 900;
  font-size: 20px;
}

.sidebar .square span {
  float: left;
  padding-left: 0.5rem;
  font-size: var(--font_size_md);
  font-weight: 500;
}

.sidebar .nome_playlist {
  font-size: var(--font_size_small);
  font-weight: 900;
  max-height: 200px;
  overflow: auto;
}

.sidebar .nome_playlist li {
  margin-top: 1rem;
}

.sidebar .nome_playlist li:active {
  animation-name: jump;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

@keyframes jump {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, -40%);
  }

  100% {
    transform: translate(0, 0);
  }
}

.sidebar .nome_playlist a {
  color: var(--primary);
}

.sidebar .nome_playlist a:hover {
  color: var(--light);
}

.sidebar .installa {
  display: flex;
  align-items: center;
}

.sidebar .installa a {
  color: var(--primary);
  font-size: var(--font_size_small);
}

.sidebar .installa img {
  width: 15px;
  filter: brightness(0.5);
}

.sidebar .installa span {
  font-size: var(--font_size_small);
  padding-left: 0.7rem;
  font-weight: 900;
}

.sidebar .profile {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.sidebar .icon_john_doe {
  width: 30px;
  height: 30px;
  background-color: var(--primary);
  filter: brightness(1.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .icon_john_doe img {
  max-width: 60%;
}

.sidebar .profile span {
  font-size: var(--font_size_md);
  padding-left: 1rem;
}
/* #endregion Sidebar */

/* #region Content Music */
.content_music {
  display: flex;
  flex-direction: column;
  width: calc(100% - 320px);
  overflow-y: auto;
}

/* #region Playlist */
.playlist {
  width: 100%;
}

.playlist .title_playlist {
  background:linear-gradient(to bottom, rgba(149, 157, 149, 1),#404040) ;
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
}

.playlist .img_playlist {
  display: flex;
  align-items: flex-end;
}

.playlist .img_playlist img {
  max-width: 25%;
  box-shadow: 0px 0px 20px 7px #040404ab;
  margin: 1rem;
  aspect-ratio: 1 / 1;
}

.playlist .title {
  margin: 1rem 2rem;
}

.playlist .title h1 {
  font-size: 3rem;
}

.playlist .title div {
  font-size: var(--font_size_small);
}

.playlist .action_title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.playlist .action_title .left i {
  padding-right: 0.5rem;
  filter: invert(1);
  font-size: 20px;
}

.playlist .action_title .dx {
  opacity: 0.4;
}

.playlist .right {
  display: flex;
}

.btn_uppgrade {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.658);
  color: var(--light);
  font-size: var(--font_size_small);
  padding: 5px 20px;
  border-radius: 1rem;
  margin-right: 1rem;
}

.btn_uppgrade span i{
    font-size: 15px;
     padding-left: 5px;
}

.playlist .content_playlist{
   background: linear-gradient(to bottom,rgba(149, 157, 149, 1), #4e4e4e00,rgba(27, 27, 27, 0.993));
}

.playlist .content_playlist .top_content_playlist{
    display: flex;
    align-items: center;
}

.playlist .content_playlist .play_green{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(30, 215, 96, 1);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 1.5rem;
}

.playlist .content_playlist .play_green i{
    filter: invert(1);
    font-size: 25px;
}

.playlist .content_playlist .option i{
    font-size: 25px;
    margin-left: 2rem;
}

.playlist .center_content_playlist{
  padding: 1rem;
}

.playlist .title_tracks{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding-bottom: 1rem;
}

.playlist .title_tracks .col_20{
  margin-left: 1rem;
}

.playlist .title_tracks .col_20,
.playlist .title_tracks .col_10{
  margin-top: 0;
}

.playlist .title_tracks li{
     list-style: none;
}

.playlist .title_tracks li span{
  padding-right: 1rem;
}

.playlist .tracks{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.playlist .tracks .col_30{
  margin-top: 2rem;
  margin-left: 1rem;
}

.playlist .tracks ol li{
  margin-bottom: 1rem;
}

.playlist .tracks .item_tracks{
  display: flex;
  align-items: flex-end;
}

.playlist .tracks img{
  width: 55px;
}

.playlist .tracks .item_tracks .text_img{
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.playlist .col_20,
.playlist .col_10{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.playlist .col_20 li,
.playlist .col_10 li{
  list-style: none;
  margin-bottom: 1rem;
  height: 55px;
}

/* #endregion Playlist */

/* #endregion Content Music */

/* #endregion Main*/

/* #region Footer */

#site_footer {
  background-color: var(--color_footer);
  height: 80px;
  display: flex;
}

/* #region menu_left */
.menu_left {
  display: flex;
  align-items: center;
  width: 30%;
}

/* #endregion menu_left */

/* #region menu_center */

.menu_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.menu_center .icon_footer {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 0.5rem;
}

.menu_center .icon_footer .large {
  font-size: 30px;
  transition: 100ms;
}

.menu_center .icon_footer .large:hover {
  transform: scale(1.1);
}

.menu_center .time_bar {
  width: 100%;
  display: flex;
  align-items: center;
}

.menu_center .time_bar .time_left {
  width: 100%;
  height: 2px;
  background-color: var(--primary);
  position: relative;
  cursor: pointer;
}

.menu_center .time_bar .time_left .time_passed {
  width: 25%;
  height: 2px;
  background-color: var(--secondary);
}

.menu_center .time_bar:hover .time_passed {
  background-color: var(--third);
}

.menu_center .time_bar .time_left .time_vision {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--light);
  position: absolute;
  top: -3px;
  left: 25%;
  visibility: hidden;
}

.menu_center .time_bar:hover .time_vision {
  visibility: visible;
}

.menu_center .time_bar span {
  margin: 0 1rem;
}

/* #endregion menu_center */

/* #region menu_right */
.menu_right {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.menu_right .small {
  font-size: 11px;
  padding-right: 2px;
}

.menu_right .icon_footer i {
  font-size: 13px;
  padding: 0.2rem;
}

.menu_right .volume_bar {
  width: 30%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.menu_right .volume_bar .volume_left {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: var(--primary);
  cursor: pointer;
}

.menu_right .volume_bar .volume_left .volume_passed {
  width: 25%;
  height: 3px;
  background-color: var(--secondary);
}

.menu_right .volume_bar:hover .volume_passed {
  background-color: var(--third);
}

.menu_right .volume_bar .volume_vision {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--light);
  position: absolute;
  top: -3px;
  left: 25%;
  visibility: hidden;
}

.menu_right .volume_bar:hover .volume_vision {
  visibility: visible;
}

/* #endregion menu_right */

/* #endregion Footer */

@media screen and (max-width: 1440px) {
  :root {
    --font_size_small: 12px;
    --font_size_md: 14px;
    --font_size_lg: 15px;
    --font_size_h4: 1rem;
  }

  .sidebar {
    width: 260px;
    transition: all 1s;
  }

  .content_music {
    width: calc(100% - 260px);
    transition: all 1s;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --font_size_small: 11px;
    --font_size_md: 13px;
    --font_size_lg: 14px;
    --font_size_h4: 0.9rem;
  }

  .sidebar {
    width: 200px;
    transition: all 1s;
  }

  .sidebar .nome_playlist {
    max-height: 150px;
  }

  .sidebar .nome_playlist li {
    margin-top: 0.5rem;
  }

  .content_music {
    width: calc(100% - 200px);
    transition: all 1s;
  }

  .content_music .img_played,
  .content_music .img_john_doe,
  .content_music .img_artisti_popolari {
    width: calc(100% / 4 - 1rem);
    transition: all 1s;
  }

  .content_music .screen_1024 {
    margin-top: 2rem;
    display: none;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --font_size_small: 10px;
    --font_size_md: 12px;
    --font_size_lg: 13px;
    --font_size_h4: 0.8rem;
  }

  .sidebar {
    width: 200px;
    transition: all 1s;
  }

  .sidebar .nome_playlist {
    max-height: 150px;
  }

  .sidebar .nome_playlist li {
    margin-top: 0.5rem;
  }

  .content_music {
    width: calc(100% - 200px);
    transition: all 0.5s;
  }

  .content_music .img_played,
  .content_music .img_john_doe,
  .content_music .img_artisti_popolari {
    width: calc(100% / 3 - 1rem);
    transition: all 0.5s;
  }

  .content_music .screen_1024,
  .content_music .screen_768 {
    margin-top: 2rem;
    display: none;
  }
}

@media screen and (max-width: 568px) {
  :root {
    --font_size_small: 10px;
    --font_size_md: 12px;
    --font_size_lg: 13px;
    --font_size_h4: 0.7rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .main_header {
    padding: 6px;
  }

  .main_header img {
    width: 25px;
  }

  .main_header_right {
    margin-right: 1rem;
  }

  .sidebar {
    width: 38px;
    transition: all 1s;
    padding: 0.3rem 0.3rem 0 0.3rem;
    overflow: hidden;
  }

  .sidebar .nome_playlist {
    max-height: 150px;
  }

  .sidebar .nome_playlist li {
    margin-top: 0.5rem;
  }

  .vertical_line_green {
    top: 4px;
  }

  .sidebar .profile {
    display: inline-block;
    margin-top: 0;
  }

  .sidebar .installa {
    border-bottom: 0px solid var(--primary);
    margin-bottom: 1rem;
  }

  .sidebar .installa img {
    width: 25px;
    filter: brightness(0.5);
  }

  .content_music {
    width: calc(100% - 38px);
    transition: all 0.5s;
    padding: 0.3rem 0.6rem 0.3rem 0.3rem;
  }

  .content_music nav ul {
    font-size: var(--font_size_small);
  }

  .content_music .recently_played,
  .content_music .john_doe,
  .content_music .artisti_popolari {
    column-gap: 0.5rem;
  }

  .content_music .img_played,
  .content_music .img_john_doe,
  .content_music .img_artisti_popolari {
    width: calc(100% / 2 - 0.5rem);
    transition: all 0.5s;
  }

  .content_music .screen_1024,
  .content_music .screen_768 {
    margin-top: 2rem;
  }

  .screen_text_320 {
    visibility: hidden;
  }

  .screen_display_320 {
    display: none;
  }

  .content_music .screen_1024,
  .content_music .screen_768,
  .content_music .screen_568 {
    margin-top: 2rem;
    display: none;
  }

  .menu_center {
    width: 568px;
  }

  #site_main {
    height: calc(100vh - 70px);
  }

  #site_footer {
    height: 70px;
  }
}

@media screen and (max-width: 320px) {
  :root {
    --font_size_small: 10px;
    --font_size_md: 12px;
    --font_size_lg: 13px;
    --font_size_h4: 0.7rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .main_header {
    padding: 6px;
  }

  .main_header img {
    width: 25px;
  }

  .main_header_right {
    margin-right: 1rem;
  }

  .sidebar {
    width: 38px;
    transition: all 1s;
    padding: 0.3rem 0.3rem 0 0.3rem;
    overflow: hidden;
  }

  .sidebar .nome_playlist {
    max-height: 150px;
  }

  .sidebar .nome_playlist li {
    margin-top: 0.5rem;
  }

  .sidebar .profile {
    display: inline-block;
    margin-top: 0;
  }

  .sidebar .installa {
    border-bottom: 0px solid var(--primary);
    margin-bottom: 1rem;
  }

  .sidebar .installa img {
    width: 25px;
    filter: brightness(0.5);
  }

  .content_music {
    width: calc(100% - 38px);
    transition: all 0.5s;
    padding: 0.3rem 0.6rem 0.3rem 0.3rem;
  }

  .content_music nav ul {
    font-size: var(--font_size_small);
  }

  .content_music .recently_played,
  .content_music .john_doe,
  .content_music .artisti_popolari {
    column-gap: 0.5rem;
  }

  .content_music .img_played,
  .content_music .img_john_doe,
  .content_music .img_artisti_popolari {
    width: calc(100% / 2 - 0.5rem);
    transition: all 0.5s;
  }

  .content_music .screen_1024,
  .content_music .screen_768 {
    margin-top: 2rem;
  }

  .screen_text_320 {
    visibility: hidden;
  }

  .screen_display_320 {
    visibility: hidden;
    width: 0;
  }

  .menu_center {
    width: 320px;
  }

  #site_main {
    height: calc(100vh - 70px);
  }

  #site_footer {
    height: 70px;
  }
}

@media screen and (max-height: 320px) {
  #site_main .sidebar,
  #site_main .content_music {
    height: 100%;
  }

  .main_header {
    display: none;
  }

  .display_visible {
    position: relative;
    visibility: visible;
    padding-bottom: 1rem;
  }

  .vertical_line_green {
    top: 78px;
  }
}
