/* Variables */

:root {
  /* Font */

  /* Color */
  --dark: rgba(8, 11, 18, 1);
  --fourth: rgba(20, 25, 34, 1);
  --primary: rgba(110, 110, 110, 1);
  --third: rgba(173, 255, 47, 1);
  --secondary: rgba(210, 210, 210, 1);
  --light: rgba(255, 255, 255, 1);
}

/* #region Common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark);
  color: var(--light);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
}

.light {
  color: var(--light);
}

.primary {
  color: var(--primary);
}

/* #endregion Common */

/* #region Utility */

.f_size_2 {
  font-size: 2.2rem;
}

.text_right {
  text-align: right;
  padding-right: 30px;
}

.text_left {
  text-align: left;
}

.text_center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.regular {
  font-weight: 600;
}

/* Spaces */

.pos_absolute {
  position: absolute;
}

.pos_relative {
  position: relative;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.flex {
  display: flex;
}

.m_auto {
  margin: 0 auto;
}

.m_30 {
  margin-top: 30px;
}

.p_tot_1 {
  padding: 1rem;
}

.p_tot_2 {
  padding: 2rem;
}

.pt_9 {
  padding-top: 9rem;
}

.pb_1 {
  padding-bottom: 1rem;
}

.pb_2 {
  padding-bottom: 2rem;
}

.pb_3 {
  padding-bottom: 3rem;
}

.pl_3 {
  padding: 1rem 3rem;
}

.m_2 {
  margin: 2rem;
}

.mt_mezzo{
    margin: 0.5rem
}

.mt_1 {
  margin-top: 1rem;
}

.mt_2 {
  margin-top: 2rem;
}

.mt_3 {
  margin-top: 3rem;
}

.mr_3 {
  margin-right: 3rem;
}

.mtb_2 {
  margin: 2rem 0;
}

.mtb_3 {
  margin: 3rem 0;
}

.mb_1 {
  margin-bottom: 1rem;
}

.mb_2 {
  margin-bottom: 2rem;
}

.mr_35 {
  margin-right: 35px;
}

/* GRID */
.position_relative {
  position: relative;
}

.container_lg {
  width: 100%;
  margin: 0 auto;
}

.container_md {
  width: 80%;
  max-width: 1152px;
  margin: 0 auto;
}

.container_sm {
  width: 70%;
  max-width: 1440px;
  margin: 0 auto;
}

.container_link {
  width: 30%;
  max-width: 432px;
}

.row {
  width: 100%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

[class^="col_"] {
  float: left;
}

.col_100 {
  width: 100%;
}

.col_80 {
  width: 80%;
}

.col_70 {
  width: 70%;
}

.col_60 {
  width: 60%;
}

.col_50 {
  width: 50%;
}

.col_40 {
  width: 40%;
}

.col_33 {
  width: 33.33%;
}

.col_30 {
  width: 30%;
}

.col_20 {
  width: 20%;
}

/* Button */

.btn {
  padding: 0.7rem 2.5rem;
  text-decoration: none;
  border: 1px solid var(--light);
  border-radius: 1.5rem;
}

/*  #endregion Utility */

/* #region Main*/

#site_main {
}
/* #region Main_header */

.main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.main_header_left {
  align-items: center;
  column-gap: 0.5rem;
}

.main_header img {
  width: 40px;
}

.main_header .title_logo {
  font-size: 27px;
}

.btn_uppgrade {
  color: var(--light);
  text-transform: uppercase;
}

/* #endregion Main_header */

/* #region Sidebar */
.sidebar {
  padding: 1rem;
}

.sidebar a {
  display: flex;
  margin-bottom: 0.5rem;
}

.sidebar li {
  list-style: none;
}

.sidebar ul span {
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 10px;
  font-weight: 700;
}

.sidebar img {
  width: 25px;
}

.sidebar .primary img {
  filter: brightness(0.5);
}

.sidebar h5 {
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
}

.sidebar .square {
  height: 25px;
  display: flex;
  align-items: center;
  margin: 0.7rem 0;
}

.sidebar .square_add {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  color: var(--dark);
  background-color: var(--primary);
  font-weight: 900;
  font-size: 20px;
}

.sidebar .square span {
  float: left;
  padding-left: 0.5rem;
  font-size: 12px;
  font-weight: 500;
}

.sidebar .nome_playlist {
  font-size: 10px;
  font-weight: 900;
}

.sidebar .nome_playlist li {
  margin-top: 0.7rem;
}

.sidebar .installa {
  display: flex;
  align-items: center;
  margin-top: 330px;
}

.sidebar .installa img {
  width: 15px;
  filter: brightness(0.5);
}

.sidebar .installa span {
  font-size: 10px;
  padding-left: 0.7rem;
  font-weight: 900;
}
/* #endregion Sidebar */

/* #region Content Music */
.content_music {
  background-color: var(--fourth);
  width: 100%;
  padding: 1rem;
}

.content_music .col_100 {
  display: flex;
  justify-content: center;
}

.content_music .col_100 ul {
  display: flex;
  column-gap: 1.5rem;
  font-size: 12px;
  font-weight: 900;
}

.content_music .col_100 ul li {
  list-style: none;
  text-transform: uppercase;
  text-align: center;
}

.content_music .col_100 ul li a {
  color: var(--primary);
}

.content_music .col_100 ul li a:hover{
    color: var(--light);
}

.content_music .col_100 .green_bar {
  width: 40%;
  height: 2px;
  background-color: var(--third);
  display: inline-block;
}

.content_music .recently_played{
    display: flex;
    column-gap: 1rem;

}

.content_music .img_played {
    width: calc(100% / 6);
    text-align: center;
}

.content_music .img_played img{
    width: 100%;
}

.content_music .img_played .subtitle{
    margin-top: 0.5rem;
    font-size: 0.9rem;
    font-weight: bold;
}



/* #endregion Content Music */

.sidebar,
.content_music {
  float: left;
  height: calc(100% - 70px);
}

/* #region Debug Main */
.debug #site_main {
  background-color: orange;
}

.debug .main_header {
  background-color: rgba(0, 0, 255, 0.507);
}

.debug .sidebar {
  width: 20%;
  background-color: rgba(238, 130, 238, 0.603);
}

.debug .content_music {
  width: 80%;
  background-color: rgba(2, 173, 2, 0.63);
}
/* #endregion Debug Main */

/* #endregion Main*/

/* #region Footer */

#site_footer {
  height: 100px;
  position: fixed;
  bottom: 0;
}

.menu_left,
.menu_center,
.menu_right {
  float: left;
}

/* #region Debug Footer */
.debug #site_footer {
  background-color: red;
  width: 100%;
}

.debug .menu_left {
  width: 30%;
  height: 100%;
  background-color: rgba(255, 255, 0, 0.438);
}

.debug .menu_center {
  width: 40%;
  height: 100%;
  background-color: rgba(137, 43, 226, 0.507);
}

.debug .menu_right {
  width: 30%;
  height: 100%;
  background-color: rgba(245, 245, 220, 0.596);
}

/* #endregion Debug Footer */

/* #endregion Footer */
