/* Variables */

:root {
  /* Font */

  /* Color */
  --dark: rgba(8, 11, 18, 1);
  --prymary: rgba(110, 110, 110, 1);
  --third: rgba(173, 255, 47, 1);
  --secondary: rgba(210, 210, 210, 1);
  --light: rgba(255, 255, 255, 1);
}

/* #region Common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

a {
}

a:hover {
}

/* #region Debug_Common */

/* #endregion Debug_Common */

/* #endregion Common */

/* #region Utility */

.f_size_2 {
  font-size: 2.2rem;
}

.text_right {
  text-align: right;
  padding-right: 30px;
}

.text_left {
  text-align: left;
}

.text_center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.regular {
  font-weight: 600;
}

/* Spaces */

.pos_absolute {
  position: absolute;
}

.pos_relative {
  position: relative;
}

.m_auto {
  margin: 0 auto;
}

.m_30 {
  margin-top: 30px;
}

.p_tot_1 {
  padding: 1rem;
}

.p_tot_2 {
  padding: 2rem;
}

.pt_9 {
  padding-top: 9rem;
}

.pb_1 {
  padding-bottom: 1rem;
}

.pb_2 {
  padding-bottom: 2rem;
}

.pb_3 {
  padding-bottom: 3rem;
}

.pl_3 {
  padding: 1rem 3rem;
}

.m_2 {
  margin: 2rem;
}

.mt_1 {
  margin-top: 1rem;
}

.mt_2 {
  margin-top: 2rem;
}

.mt_3 {
  margin-top: 3rem;
}

.mr_3 {
  margin-right: 3rem;
}

.mtb_2 {
  margin: 2rem 0;
}

.mtb_3 {
  margin: 3rem 0;
}

.mb_1 {
  margin-bottom: 1rem;
}

.mr_35 {
  margin-right: 35px;
}

/* GRID */
.container_lg {
  width: 100%;
  margin: 0 auto;
}

.container_md {
  width: 80%;
  max-width: 1152px;
  margin: 0 auto;
}

.container_sm {
  width: 70%;
  max-width: 1440px;
  margin: 0 auto;
}

.container_link {
  width: 30%;
  max-width: 432px;
}

.row {
  width: 100%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

[class^="col_"] {
  float: left;
}

.col_100 {
  width: 100%;
}

.col_70 {
  width: 70%;
}

.col_60 {
  width: 60%;
}

.col_50 {
  width: 50%;
}

.col_40 {
  width: 40%;
}

.col_33 {
  width: 33.33%;
}

.col_30 {
  width: 30%;
}

.col_20 {
  width: 20%;
}

/* Button */

.btn {
  padding: 5px 15px;
  text-decoration: none;
}

/*  #endregion Utility */

/* #region Header */

/* #endregion Debug_header */

/* #endregion Header */

/* #region Main*/

/* #endregion Main*/

/* #region Footer */

/* #endregion Footer */
